@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
body {
  box-sizing: border-box;
}
.header {
  background-image: url(./assets/nature-1.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.navigation {
  background: linear-gradient(
    180deg,
    rgba(246, 246, 246, 0.67) 0%,
    rgba(246, 246, 246, 0.35) 100%
  );
}
.search {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
